@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fontsPj/Roboto-Bold.ttf')
};
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fontsPj/Roboto-Light.ttf')
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fontsPj/Roboto-Regular.ttf')
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fontsPj/Roboto-Medium.ttf')
}  
@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../fontsPj/Roboto-LightItalic.ttf')
}  
