// Media
$xxl: 1260px;
$lg: 992px;
$md: 768px;
$sm: 576px; 

// Colors
$color-main: #ffffff;
$color-travler: #6017a3;
$color-btn: #701dbb;
$color-silver: #7d7d7d; 
$color-disabled: #c7c7c7;
$color-input: #959595;
$color-body: #ebebeb;
$color-granit: #707070; 
$color-active: #58159b; 
$color-border: #8038c2;
$color-intro: #5d2762;
$color-primary: #a161db;
$color-help: #2d2d2d;
$color-info: #6d6d6d;  
$color-desktop: #222222;    
$color-chrom: #dedede;
$color-follow: #8f33c4; 
$color-person: #7b7b7b; 
$color-dots: #979797;
$color-title-about: #252525;
$color-subtitle-about: #949494;
$color-footer: #373737;
$color-link-border: #767676;
$color-footer-border: #914dcf;
$color-end: #7e7e7e; 



// Fonts 
$roboto-bold: 'Roboto-Bold', sans-serif;
$roboto-regular: 'Roboto-Regular', sans-serif;
$roboto-light: 'Roboto-Light', sans-serif;
$roboto-medium: 'Roboto-Medium', sans-serif;
$roboto-lightItalic: 'Roboto-LightItalic', sans-serif; 